<section id="main-content">
    <section class="wrapper">
        <div class="row my-3 bg-white" style="margin-left: 0px; margin-right: 0px;">
            <h3 class="fs-4 mb-3">Quản Lý Đơn Hàng</h3>
            <div class="col ">
                <div class="row">
                    <div class="col-5">
                        <input class="form-control" type="text" name="search" [(ngModel)]="searchText"
                            autocomplete="off" placeholder=" Tìm kiếm danh mục">
                    </div>


                </div>

                <table class="table table-striped rounded shadow-sm  bg-white ">
                    <!-- <table class="table   table-hover"> -->
                    <thead>
                        <tr>

                            <td>STT</td>
                            <td>Mã Đơn Hàng</td>
                            <td>Ghi chú</td>
                            <td>Tổng Tiền</td>
                            <td>Trạng Thái</td>
                            <td>Chức năng</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let o of order;let i = index">
                            <td>{{i+1}}</td>
                            <td>{{o.id}}</td>
                            <td>{{o?.order_note}}</td>
                            <td>{{o.totalMoney}}</td>
                            <td><button class="btn btn-success me-2" (click)="update_status_orders(o.id,2)">
                                    xác nhận đơn
                                </button>
                                <!-- <i style="font-size: 20px;" class="far fa-check-circle"></i> -->
                            </td>
                            <td>

                                <button type="button" class="btn btn-secondary me-2" data-bs-toggle="modal"
                                    (click)="get_order_id(id)" data-bs-target="#modal_edit">
                                    Chi tiết
                                </button>
                                <button type="button" class="btn btn-danger" (click)="onDelete(o.id)">Xóa</button>

                            </td>
                        </tr>
                    </tbody>
                </table>
                <div>
                    <!-- <pagination-controls previousLabel="" nextLabel="" (pageChange)="ontableDataChange($event)">
    </pagination-controls> -->
                </div>

                <!-- Modal thêm mới -->

                <!-- Modal sua mới -->
                <div class="modal fade" id="modal_edit" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">

                        <div class="modal-content">

                            <table class=" table table-striped rounded shadow-sm bg-white ">
                                <!-- <table class=" table table-hover"> -->
                                <thead>
                                    <tr>

                                        <td>STT</td>
                                        <td>Ảnh</td>
                                        <td>Tên sản phẩm</td>
                                        <td>Tên kích cỡ</td>
                                        <td>Tên màu</td>
                                        <td>Số lượng</td>
                                        <td>Giá</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let o of order_detail;let i = index">
                                        <td>{{i+1}}</td>
                                        <td>
                                            <img [src]="'http://127.0.0.1:8000/storage/image/product/'+o.img_oder"
                                                alt="" style="width: 40px;height: 40px;">
                                        </td>
                                        <td *ngFor="let oder of o.product">
                                            {{oder.name}}
                                        </td>
                                        <td *ngFor="let oder of o.size">{{oder.namesize}}</td>
                                        <td *ngFor="let oder of o.color">{{oder.namecolor}}</td>
                                        <td>{{o.quantity}}</td>
                                        <td>{{o.price}}</td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Button trigger modal -->
        <!-- Modal -->
    </section>
</section>