<aside>
    <div id="sidebar" class="nav-collapse">
        <!-- sidebar menu start-->
        <div class="leftside-navigation">
            <ul class="sidebar-menu" id="nav-accordion">


                <li>
                    <a href="#" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                            class="fas fa-chart-line me-2"></i>Danh mục sản phẩm</a>
                </li>
                <li class="sub-menu">
                    <a href="#" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                            class="fas fa-chart-line me-2"></i>Quản Lý Sản Phẩm</a>
                </li>
                <li class="sub-menu">
                    <a href="#" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                            class="fas fa-chart-line me-2"></i>Quản lý khách hàng</a>
                </li>
                <li class="sub-menu">
                    <a href="#" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                            class="fas fa-chart-line me-2"></i>Quản lý đơn hàng</a>
                </li>
                <li class="sub-menu">
                    <a href="#" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                            class="fas fa-chart-line me-2"></i>Quản lý hóa đơn nhập</a>
                </li>
                <li class="sub-menu">
                    <a href="#" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                            class="fas fa-chart-line me-2"></i>Thống kê</a>
                </li>







            </ul>
        </div>
        <!-- sidebar menu end-->
    </div>
</aside>